.topContainer{
    padding: 20px;
    margin: auto;
    text-align: center;
    height:auto;
   
   
}
.nav{
    border: 1px solid black;
    height: 50px;
}
.main-container{
    background: linear-gradient(180deg, #E71D36 0%, rgba(231, 29, 54, 0.8) 44.2%, rgba(241, 91, 80, 0.4) 69.61%, rgba(241, 91, 80, 0.2) 87.29%, rgba(241, 91, 80, 0) 100%);
}
/* .home-top{
    width: 80%;
    margin: auto;
} */

.homeTopGrid{
    width: 90%;
    height: 425px;
    margin: auto;
    text-align: center;
    padding-top: 30px;
}




@media ( max-width: 414px) {
   .homeTopGrid{
       height: 300px;
   }

    .topContainer{
        width: 100%;
        height: 270px;
        left: 0px;
        top: 0px;
        padding-top: 40px
    }

    .main-container{
        height:500px ;
    }


    .bottomcContainer{
        /* width: 345px; */
        /* height: 600px; */
        left: 15px;
        top: 670px;
        /* border: 1px solid blue; */
        margin: auto;
        padding-top: 10px;
        padding: 10px;

    }
    .seachIconArea{
        /* border: 1px solid black; */
        height: 70px;
        width: 70px;
        margin: auto;
        margin-top: 20px;
    }
    #searchIcon{
        height: 70px;
        width: 70px;
    }
}