#addingLocation{
    margin-top: 30px;
    padding: 30px;
    display: block;
}
.progressBar{
    width: 100%;
    margin-bottom: 10px
}
.file-input{
    margin-top: 10px;
}
.nameInput{
    margin-top: 10px;
    width: 100%;
}
#componentsView{
    margin-top: 10px;

}
#submitButton{
    background-color: #011627;
    color: white;
    height: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
}
#select{
    width: 200px;
}