.locationImage{
    border: 1px hidden green;
    height: 200px;
    width: 100px;
    margin: 7px;
    border-radius: 5px;
}

.ImageContent {
    height: 200px;
    width: 100px;
}

#add{
    border: 1px solid red;
    color: red;
    background-color: inherit;
    width: auto;
    height: 20px;
    margin: 20px;
    margin-top: 70px;
    
}
#pinLocation{
    width: 100px;
    height: 40px;
    color: white;
    background-color:  #E71D36;
    border-radius: 3px;
}
#cancelLocation{
    width: 100px;
    height: 40px;
    background-color:  rgba(1, 22, 39, 0.5);
    color: white;
    border-radius: 3px;
    margin-left: 42px;
}
#addingLocation{
    margin-top: 30px;
    padding: 30px;
    display: block;
}
.progressBar{
    width: 100%;
    margin-bottom: 10px
}
.file-input{
    margin-top: 10px;
}
.nameInput{
    margin-top: 10px;
    width: 100%;
}
#componentsView{
    margin-top: 10px;

}
#submitButton{
    background-color: #011627;
    color: white;
    height: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
}