.wrapper{
    height: 790px;
    border: 1px solid black;
    text-align: center;
}
.body-div{
    height: 600px;
    padding-top: 10px;
    margin-top: 30px;
}



.Search-term{
    width: 113px;
    height: 30px;
    left: 15px;
    top: 163px;

/* Drop Shadow */
    box-shadow: 0px 4px 8px rgba(1, 22, 39, 0.15);
    display: inline;
    margin: 10px;
    border-radius: 5px;
}

.detail-body{
    padding: 10px;
    border: none;

}
.wrapper{
    border: none;
}