footer{
    width: 100%;
    background-color: #011627;
    height: auto;
    text-align: center;
    color: #FEFEFE;
    Font-Size: 16px;
    padding: 10px;
    font-style: Light;
    text-emphasis-style: body;  
    position: absolute;
}
button{
    height: 30px;
    width: 125px;
    border-radius: 5px;
    background-color: #E71D36;
    color: #FEFEFE;
    font-size: 16px;
    margin: 3px;
    border: 0px;
}
#pinButton{
    height: 30px;
    color: white;
}
#reviewApp{
    height: 30px;
    width: 125px;
    background-color: #E71D36;
    margin-left: 20px;
    color: #FEFEFE;
}