@import url('https://fonts.googleapis.com/css?family=Raleway');

.center{
    font-family: 'Raleway', sans-serif;
    background-color: #1abc9c;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: #fff;
    border-radius: 15px;
    padding: 0.8rem;
    margin-top: -100px;
    margin-left: -28px;
    box-shadow: 2px 4px 10px rgba(231, 29, 54, 0.25);

}

/* .card {

    background-color: #fff;
    border-radius: 15px;
    padding: 0.8rem;
    margin-top: 523px;
    margin-left: -28px;

} */

.card > form{
    display: flex;
    flex-direction: column;
}

.card h1{
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

.form-item{
    font-family: 'Raleway', sans-serif;
    padding: 5px;
    margin-bottom: 2rem;
    height: 30px;
    width: 32rem;
    border: 1px solid grey;
    border-radius : 8px;
    border: 0.25px solid rgba(231, 29, 54, 0.5);
    box-shadow: 0px 0px 8px rgba(231, 29, 54, 0.2);
}

.form-submit{
    font-family: 'Raleway', sans-serif;
    height: 35px;
    width: 32rem;
    color: #fff;
    background-color: #E71D36;
    border: none;
    border-radius : 8px;
    letter-spacing: 0.2rem;
    transition: 0.3s opacity ease;
    cursor: pointer;
}
.form-submit:hover{
   opacity: 0.6;
}


.styles_closeButton__20ID4 {

    position: absolute;
    top: -256px;
    right: 55px;
    border: none;
    padding: 0;
    background-color: transparent;
    display: -ms-flexbox;
    display: none;

}

/* .styles_closeButton__20ID4 {

    position: absolute;
    top: 48px;
    right: 55px;
    border: none;
    padding: 0;
    background-color: transparent;
    display: -ms-flexbox;
    display: flex;
} */

#loginButton{
    margin-left: 0px;
}

.closebutton{
    position: absolute;

    top: -273px;
    
    right: 57px;
    
    border: none;
    
    padding: 0;
    
    background-color: transparent;
    
    display: -ms-flexbox;
    
    display: flex;

    color: black;

    font-size : 28px;

}