.navbar-header{
    background-color: #E82A41;
    border: none;
    box-shadow: 0px 4px 8px rgba(1, 22, 39, 0.15);
    
}
.navbar-default{
    border: none;
    border-color: none;
    border: 0;
}


.navbar-toggle{
    width: 50px;
    margin-top: 10px;
    border: 0;
    background-color:inherit;
    height: 30px;
    border: 0 !important;
    /* margin-top: -30px !important; */
    margin-right: 0px !important;
}

.navbar-toggle:hover{
    background-color: #011627 !important;
}

.navbar-collapse{
    height: 200px;
    /* position: absolute; */
    background-color: #011627;
    border: 0;
}

.btn{
    /* left: 66.67%;
    right: 14.67%;
    top: 25%;
    bottom: 25%; */
    margin-top: 10px;
    background-color: #011627;
    margin-left: 16%;
    font-weight: 300;
    line-height: 20px;
    font-size: 2em;
    color: #FEFEFE;
    border-radius: 5px;
    height: 30px;
}


.navBarBorder{
    border: none !important;
}
.logoutButton{
    background-color: #011627;
    border: 0px;
    color: gray
}